<div class="post">
    <a href="/users/profile/{{creator}}">
        <h1 class="showcaseHyperlink">
            {{userid}}
        </h1>
    </a>
    <!-- if canEdit block -->
    {{#if canEdit}}
    <a href="/showcases/edit/{{_id}}" class="editIcon">
        <img src="/public/images/edit.png" alt="Edit this showcase" />
    </a>
    {{/if}}
    <!-- end if block -->
    <h2 class="showcaseDate">{{ date }}</h2>
    <!-- if blog block -->
    {{#if blog}}
    <a href="/blogs/{{blog._id}}">
        <p>{{ blog.blogName }}</p>
    </a>
    {{#if blog.youtubeLink}}
    <iframe width="420" height="315" src="{{blog.youtubeLink}}">
    </iframe>
    {{/if}}
    {{/if}}
    <!-- end if block -->
    <br />
    <p>{{ text }}</p>
    <!-- if likeList block -->
    <div class="likeDiv">
        {{#if likeList}}
        <p>
            <em class="likeList">{{ likeList }} like this showcase</em>
        </p>
        {{/if}}
    </div>
    <!-- end if block -->
    <!-- if liked block -->
    {{#if liked}}
    <a href="" class="showcaseInteraction likeShowcase">
        Unlike
    </a>
    {{else}}
    <a href="" class="showcaseInteraction likeShowcase">
        Like
    </a>
    {{/if}}
    <!-- end if block -->
    <a href="/comment/addcomment/{{_id}}" class="showcaseInteraction">
        Comment
    </a>
    <a href="/showcases/{{ _id }}" class="showcaseInteraction">
        Expand Showcase
    </a>
    <!-- if block for comments -->
    {{#if comments}}
    <div class="commentDiv">
        <!-- iterate through the comments -->
        {{#each comments}}
        <div class="individualComment">
            {{#if isCommentOwner}}
                <a class="btn-del comment-delete-icon" data-id="{{_id}}">
                    <img src="/public/images/trash.svg" alt="delete-comment">
                </a>
            {{/if}}
            <p class="commentUser">{{userid}}</p>
            <p class="commentText">{{comment}}</p>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <!-- end if block -->
    <!-- Hidden showcaseID -->
    <p class="showcaseID" hidden>{{_id}}</p>
</div>
