
    <div class = "myDiv"><h1>UserId: {{userInfo.UserId}}</h1></div>
    <a href="/edit/profile/{{userInfo._id}}"><p class="profileInfo">Edit Profile</p></a>
    <div class="profileInfo">
        {{#if userInfo.isNotMe}} 
            <a href="" class="followLink">{{userInfo.isFollowing}}</a>
        {{/if}}
    </div>
    <div class="profileInfo">Name: {{userInfo.FirstName}} {{userInfo.LastName}}</div>
    {{#if userInfo.favoriteArtist}}
    <div class="profileInfo">Favorite Artist: {{userInfo.favoriteArtist}}</div>
    {{/if}}
    <div class="profileInfo">Birthday: {{userInfo.dateOfBirth}}</div>
    <div class="profileInfo">Membership Age: {{userInfo.daysMembership}} days</div>
    <br/>
    <div class="profileInfo profileBold">Uploaded Showcase:</div>
    <div>
        {{#each userInfo.blogs}} 
            <a href="/blogs/{{this.[0]}}">
                <p class="profileInfo">{{ this.[1] }}</p>
            </a>
        {{/each}}
    </div>
    <div class="profileInfo profileBold">Uploaded showcase:</div>
    <div id="showcaseColumn">    
        {{#each userInfo.showcase}} {{> post}} {{/each}}
    </div>

    <p class="userID" hidden>
        {{userInfo._id}}
    </p>

    
    <footer><div>&copy; 2023 My Showcase. All rights reserved.</div></footer>

        <script src="/public/js/profile.js"></script>
