<div class="showcase">
    <a href="/users/profile/{{creator}}">
        <h1 class="showcaseHyperlink">
            {{userid}}
        </h1>
    </a>
    <!-- end if block -->
    <h2>{{ date }}</h2>
    <!-- if blog block -->
    {{#if blog}}
    <a href="/blogs/{{blog._id}}">
        <p>{{ blog.blogName }}</p>
    </a>
    {{#if blog.youtubeLink}}
    <iframe width="420" height="315" src="{{blog.youtubeLink}}">
    </iframe>
    {{/if}}
    {{/if}}
    <!-- end if block -->
    <br />
    <p>{{ text }}</p>
    <!-- if likeList block -->
    <div class="likeDiv">
        {{#if likeList}}
        <p>
            <em class="likeList">{{ likeList }} like this showcase</em>
        </p>
        {{/if}}
    </div>
    <!-- end if block -->
    <!-- if block for comments -->
    {{#if comments}}
    <div class="commentDiv">
        <!-- iterate through the comments -->
        {{#each comments}}
        <div class="individualComment">
            <p class="commentUser">{{userid}}</p>
            <p class="commentText">{{comment}}</p>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <!-- end if block -->
    <!-- Hidden postID in order to make AJAX requests -->
    <p class="postID" hidden>{{_id}}</p>
</div>
